@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light-color: #FDFDFD;
    --dark-color: #3C3D41;
    --black-color: #050505;
    --bordeaux-color: #3f0d0c;
    --teal-color: #62929E;
}

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    background: var(--light-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    min-width: 30rem;
}

html.dark {
    background: var(--dark-color);
}