@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
    
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #293E53;
    /* border-radius: 5px; */
    transition: .5s;
}

.active:after {
    width: 100% !important;
    
}
.active:before{
    height: 100% !important;
}