@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark: #050505;
    --light: #FDFDFD;
    --theme: #B80C09;
}


html, body {
    font-family: "Work Sans";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    text-size-adjust: auto;
}

::selection {
    background: var(--theme);
    color: var(--light);
}